@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* same colors as dark mode */
    --primary: 75 67% 49%;
    --primary: 186 65% 42%;
    --primary-foreground: 75 67% 9%;
    /* --primary-foreground: 186, 65%, 95%; */
  }

  /* .dark {
    --background: 215 15% 16%;
    --foreground: 210 19% 73%;
    --muted: 215 12% 20%;
    --muted-foreground: 215 12% 70%;
    --popover: 215 15% 13%;
    --popover-foreground: 210 19% 83%;
    --card: 215 15% 14%;
    --card-foreground: 210 19% 78%;
    --border: 215 5% 21%;
    --input: 215 5% 24%;
    --primary: 210 19% 73%;
    --primary-foreground: 210 19% 13%;
    --secondary: 210 9% 25%;
    --secondary-foreground: 210 9% 85%;
    --accent: 215 15% 31%;
    --accent-foreground: 215 15% 91%;
    --destructive: 6 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 19% 73%;
  } */

  .dark {
    --background: 132 20% 5%;
    --foreground: 180 100% 97%;
    --muted: 132 12% 15%;
    --muted-foreground: 132 12% 65%;
    --popover: 132 20% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 132 20% 3%;
    --card-foreground: 0 0% 100%;
    --border: 132 10% 10%;
    --input: 132 10% 13%;
    --primary: 75 67% 49%;
    --primary: 186 65% 42%;
    --primary-foreground: 75 67% 9%;
    /* --primary-foreground: 186, 65%, 95%; */
    --secondary: 75 30% 25%;
    --secondary-foreground: 75 30% 85%;
    --accent: 132 20% 20%;
    --accent-foreground: 132 20% 80%;
    --destructive: 9 89% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 75 67% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
